.formContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ctrContainer{
    margin-top: 20px;
    padding-top: 40px;
    background-color:blanchedalmond ;
    border: black 1px solid;
    width: 700px;
    height: 250px;
    font-size:large;
    font-weight: bold;
}

.form{
    display: grid;
    padding-top: 40px; 
    background-color: blanchedalmond;
    border: black 1px solid;
    width: 500px;
    height: 400px;
    row-gap: 1px;
}

.main{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-left:20px; 
    font-size:large;
    font-weight: bold;  
}