table, th, td,tr {
    border:1px solid black;
  }

  .table{
    margin-top: 30px;
    width: 70%;
    background-color: blanchedalmond;
  }

  .tablehead{
    background-color: #b1728a;
    font-size: larger;
    text-align: center;
  }